@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@font-face {
  font-family: Helvetica;
  src: url("./fonts/Helvetica/helvetica_bold.otf") format("opentype");
  src: url("./fonts/Helvetica/helvetica_regular.otf") format("opentype");
}
* {
  font-family: 'Helvetica', 'Passion One', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
}
li {
  list-style: none;
}
body {
  color: #fff;
  background-color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.wrapper{
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
  position: relative;
}
.header {
  padding: 16px;
  margin-bottom: 9px;
  @media screen and (max-width: 775px) {
    margin-bottom: 17px;
  }
}
.planet-bgr {
  z-index: -14;
  position: fixed;
  top: 138px;
  @media screen and (max-width: 1026px) {
    left: 0px;
  }
@media screen and (max-width: 775px) {
  left: -150px;
}
@media screen and (max-width: 625px) {
  left: -256px;
}
  img {
    width: 400px;
    height: 620px;
    @media screen and (max-width: 1026px) {
      width: 304px;
      height: 436px;
    }
  }
}
.content {
  min-height: calc(100vh - 180px);
  display: flex;
  justify-content: flex-end;
  padding-right: 277px;
  @media screen and (max-width: 1280px) {
    padding-right: 111px;
  }
  @media screen and (max-width: 1000px) {
    padding-left: 72px;
  }
  @media screen and (max-width: 600px) {
    padding-right: 16px;
    justify-content: start;
  }
}

.footer {
  padding: 16px;
}

